body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    overflow-x: hidden;
}
span, span a,span a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}
.contact-section {
    background-color: #f8faff !important;
    padding: 50px;
}
.mb-4 {
    margin-top:30px;
}
label {
    color: #626262;
    font-size: 16px;
    font-weight: 600;
}
textarea {resize: none}
.send-btn {
    background: #feddbe;
    border-radius: 25px;
    color: #0a1931;
    border-color: white !important;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    float: right;
}